<div class="menu-screen">
	<h1>Items</h1>
	<div class="item-panel-container">
		<div class="inventory-panel panel">
			<button class="item-button" *ngFor="let k of player.inventory" (click)="selectItem(k)">{{data.items.get(k).name}}</button>
		</div>
		<div class="details-panel panel " *ngIf="exposedItem.name != ''">
			<h2>{{exposedItem.name}}</h2>
			<p>{{exposedItem.description}}</p>
			<div class="type">
				<i>{{ItemType[exposedItem.type]}}</i>
			</div>
			<div class="effect" *ngIf="exposedItem.effect != null && exposedItem.effect.constant != 0">
				<span>{{EffectAction[exposedItem.effect.action]}} {{exposedItem.effect.constant}} {{Operand[exposedItem.effect.operand]}}</span>
			</div>
			<div class="se">
				<div *ngFor="let se of exposedItem.specialEffect">
					{{SpecialEffect[se]}}
				</div>
			</div>
			<div class="cards">
				<app-card *ngFor="let card of cards()" [card]="card"></app-card>
			</div>
			<div class="button-container">
				<button *ngIf="exposedItem.type === ItemType.CONSUMEABLE">Use</button>
				<button *ngIf="exposedItem.type !== ItemType.KEY && exposedItem.type !== ItemType.CONSUMEABLE">Equip</button>
				<button *ngIf="exposedItem.type !== ItemType.KEY">Drop</button>
			</div>
		</div>
	</div>
</div>